---
---
/* Override theme defaults */
$base-font-family: ComicSansMS;
$brand-color: red;

@font-face {
  font-family: 'Comic Sans MS';
  src: url("comic-sans-ms/comici.ttf");
}

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
